<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641593001335-k1kma7vnrailsv4sv1edkeg0c0teq0na.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641593001335-k1kma7vnrailsv4sv1edkeg0c0teq0na</string>
	<key>API_KEY</key>
	<string>AIzaSyAG7TMzgBQhO3yRupiGMYhLNHw420QLnMY</string>
	<key>GCM_SENDER_ID</key>
	<string>641593001335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oust.Mobitics.com</string>
	<key>PROJECT_ID</key>
	<string>mobitics-5860b</string>
	<key>STORAGE_BUCKET</key>
	<string>mobitics-5860b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641593001335:ios:a22a36d09c3157fd234d72</string>
	<key>DATABASE_URL</key>
	<string>https://mobitics-5860b.firebaseio.com</string>
</dict>
</plist>